*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: antiquewhite;
}
h1{
    background-color: rgb(3, 3, 22);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    background-color: rgb(27, 26, 26);
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 8rem;
    object-fit: cover;
}

.score-borad{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: rgb(5, 5, 18);
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    
    
}